name: Build package-list

on:
  workflow_dispatch:

jobs:
  build-pkgs:
    runs-on: ubuntu-20.04
    steps:
      - uses: manjaro/manjaro-pkg-action@build_list
        with:
          gpg-key: ${{ secrets.CI_PRIV_KEY }}
          gpg-passphrase: ${{ secrets.CI_GPG_PASSPHRASE }}
          boxit-host: ${{ secrets.BOXIT_HOST }}
          boxit-target: ${{ secrets.BOXIT_TARGET }}
          ssh-key: ${{ secrets.SSH_PACKAGE_CI }}
        
######### EDIT:
          package_list: unity7
          release_tag: 2022-11-14-6
          ## path to source repo
          source_url: https://github.com/manjaro/unity-for-manjaro.git
          source_folder: unity-for-manjaro
          ## branch: (default: stable)
          branch: stable
          ## custom-repo - default: ""
          custom-repo: ""
